@import url(../utils/cores.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.card {
  box-shadow: 0 2px 4px 0 var(--cor-neutra4);
  max-width: 200px;
  font-family: 'Roboto', sans-serif;
  padding: 16px;
  border-radius: 6px;
}

.imagem-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  margin-bottom: 16px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}

.card h2 {
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: var(--cor-branco);
  background-color: var(--cor-secundaria1);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 6px;
}

.card button:hover {
  background-color: var(--cor-secundaria2);
}

.card-preco {
  color: var(--cor-neutra5);
  margin-bottom: 24px;
  font-size: 1.1rem;

}