@import url(../utils/cores.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.footer-bg {
  background-color: var(--cor-primaria1);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer {
  font-family: 'Roboto', sans-serif;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: var(--cor-branco);
}